

.driver-details-card {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.driver-details-card::-webkit-scrollbar {
	background-color: transparent;
	width: 20px;

}
.driver-details-card::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/F1_tire_Pirelli_PZero_Red.svg/2048px-F1_tire_Pirelli_PZero_Red.svg.png");
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.driver-details-card::-webkit-scrollbar-track {
	background-color:#e5e7eb;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
}

.driver-info-cards-box {
	direction: rtl;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	
}
.driver-info-cards-box > * {
	direction: ltr;
}

.driver-info-cards-box::-webkit-scrollbar {
	background-color: transparent;
	width: 20px;
}

.driver-info-cards-box::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/F1_tire_Pirelli_PZero_Red.svg/2048px-F1_tire_Pirelli_PZero_Red.svg.png");
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.driver-info-cards-box::-webkit-scrollbar-track {
	background-color: #e5e7eb;
	border-radius: 8px;
}

